:root {
    --black-color: #000000;
    --dark-grey-color: #555555; 
    --light-grey-color: #999999;   
    --purple-fifth-color: #240046;
    --purple-fourth-color: #3C096C;
    --purple-third-color: #5A189A;
    --purple-second-color: #7B2CBF;
    --purple-first-color: #9D4EDD;
    --orange-fifth-color: #FF6D00;
    --orange-fourth-color: #FF7900;
    --orange-third-color: #FF8500;
    --orange-second-color: #FF9100;
    --orange-first-color: #FF9E00;

}

/* ============= Header ============= */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-third-color);
    border-bottom: solid 10px #000000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

.logo {
    width: 60px;
    height: 60px;    
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.2s;
}

a:hover {
    color: var(--orange-first-color);
    text-shadow: 2px 2px 2px var(--black-color);
    
}

a::before {
    content: '';
    background-color: var(--orange-third-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#button {
    display: inline-block;     
    padding: 18px 20px;    
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;

    background: linear-gradient(to right, black 50%, var(--orange-fourth-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    
}

#button:hover {
    color: #ffffff;
    background-position: left bottom;
    box-shadow: 5px 5px 0px var(--orange-fourth-color);
}



/* ============= Main ============= */

/*main {
    color: whitesmoke;
    background-color: rgb(153, 146, 146);
}*/

/* ============= Footer ============= */

footer {
    background-color: var(--purple-third-color);
}

