:root {
    --black-color: #000000;
    --dark-grey-color: #555555; 
    --light-grey-color: #999999;   
    --purple-fifth-color: #240046;
    --purple-fourth-color: #3C096C;
    --purple-third-color: #5A189A;
    --purple-second-color: #7B2CBF;
    --purple-first-color: #9D4EDD;
    --orange-fifth-color: #FF6D00;
    --orange-fourth-color: #FF7900;
    --orange-third-color: #FF8500;
    --orange-second-color: #FF9100;
    --orange-first-color: #FF9E00;
}



footer {
    background-color: var(--purple-third-color);
}
