.main-banner {
    box-sizing: border-box;
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid var(--black-color);    
    padding-top: 115px;
    padding-left: 90px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 400px) {
    .main-banner {
        background-color: var(--purple-third-color);
    background-position: right;
    background-size: cover;
    border-bottom: 10px solid var(--black-color);
    height: 460px;
    padding-left: 55px;
    padding-top: 195px;
    }
    .main-banner .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 240px;
    }

    .main-banner .main-box {
        width: 230px;
        padding: 20px 45px;
        margin-bottom: 200px;
    }

    .main-banner .navigation {
        visibility: hidden;
    }
}