.main-footer {
    display: flex;
    justify-content: center;
    background-color: var(--purple-fifth-color);
    padding-top: 28px;
    padding-bottom: 28px;
}

.devicon-github-original,
.devicon-codepen-plain,
.devicon-linkedin-plain {
    font-size: 3rem;
    color: var(--orange-third-color); 
    padding: 20px;   
    transition: 200ms;
}

.devicon-github-original:hover,
.devicon-codepen-plain:hover,
.devicon-linkedin-plain:hover {
    text-shadow: 3px 3px 5px rgb(255, 255, 255);
}

.devicon-github-original:visited,
.devicon-github-original:active {
    text-decoration: none;
}

a {
    text-decoration: none;
}