.main-title {
    color: var(--orange-fourth-color);
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;  
    text-shadow: 4px 4px 0 #000000;
    margin-bottom: 28px;
}

.main-title.-second{
    color: white;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    text-align: center;    
    text-shadow: none;    
}

.main-title.-modal {
    font-size: 30px;
    text-shadow: 2px 2px 0 #fff;
}

@media (max-width: 400px) {
    .main-title {
        font-size: 30px;
    }

    .main-title.-second {
        font-size: 28px;
    }
}