.main-box {
    display: inline-block;
    background-color: var(--dark-grey-color);
    width: 630px;
    box-shadow: 10px 10px 0 var(--black-color);
    text-align: center;
    padding: 42px 44px;    
}

