.main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-third-color);
    border-bottom: solid 10px #000000;
    padding: 10px 20px;
}

.main-header .logo {
    width: 70px;
    height: 70px;    
}

@media (max-width: 400px) {
    .main-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: justify;
    }

    nav {
        display: flex;
        align-content: center;
        flex-direction: column;
    }
}

