.nav-action {
    display: inline-flex;
    align-items: center;
    color: var(--white-color);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.2s;
}

.nav-action:hover {
    color: var(--orange-first-color);
    text-shadow: 2px 2px 2px var(--black-color);
    
}

.nav-action::before {
    content: '';
    background-color: var(--orange-third-color);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 400px) {
    .nav-action {
        font-size: 20px;
    }
}