.progress-bar {
    box-sizing: border-box;    
    border: 5px solid var(--black-color);
    background-color: var(--white-color);
    height: 40px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--orange-third-color);
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--white-color);
}