.skill-tec{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Press Start 2P', sans-serif;    
    font-size: 25px;
}

.skill-tec .icon {
    width: 80px;
    margin-right: 25px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.skill-tec .title {
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .skill-tec {
        font-size: 19px;
    }

    .skill-tec .icon {
        margin-left: 10px;
    }
}